.navigation__container {
  padding: 16px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}

.cart > img {
  width: 24px;
}
