.row{
    margin-top: 300px;
    margin: auto;
    width: 1200px;
}
.menuBar{
    
    width:200px;
    height: 500px;
    text-align: center;
}
.card{
    height: 300px;
}
.userInfo{
    
    width:500px;
    height: 500px;
}
